body {
 background-image: url('http://i64.tinypic.com/20jp9ph.jpg');
 


}




.container {
  background-color:white;
  padding: 20px;
  font-family: 'Cabin Sketch', cursive;
    
}
.container-fluid {
    color: red;
    padding: -150px;
    font-size: 12px;
    

}

.Header1{
  
}